/* Para Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Para Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro com transparência */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-conteudo {
  text-align: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.modal-conteudo h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.2rem;
}

.erro {
  background-color: #ffe5e5;
  color: #d8000c;
  border: 1px solid #d8000c;
  padding: 0.75rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
  color: #333;
}

.form-group textarea {
  max-width: 100% !important;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border: 2px solid #18191d;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #3b82f6; /* cor azul no foco */
  outline: none;
}

.modal-acoes {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}
