.modal-detalhes-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-detalhes-content{
  position: relative; /* para o ::before */
  background-color: #ffffff;
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  border-radius: 10px;
  border: 1.5px solid #003366;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease;
}

.modal-detalhes-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2rem;   /* mesmo padding horizontal */
  right: 2rem;
  height: 3rem; /* altura para cobrir a borda atrás do título */
  background-color: #ffffff;
  z-index: 2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-detalhes-titulo {
  position: relative;
  z-index: 3;
  font-size: 1.6rem;
  color: #000000;
  margin-bottom: 1.2rem;
  text-align: center;
  background-color: #ffffff;
  padding: 0 1rem;
  display: inline-block;
}

.modal-detalhes-info p {
  text-align: start;
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #003366;
  color: #333;
  background-color: #f9f9f9;
  margin-bottom: 0.75rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.modal-detalhes-info strong {
  color: #003366;
}

.modal-detalhes-botoes {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

/* Animação leve na abertura */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
