.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 550px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15);
}

.modal-title {
  font-size: 1.5rem;
  color: #003366;
  margin-bottom: 20px;
}

.form-editar-servico {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-field{
  min-width: 100%;
  border-radius: 6px;
  border: 1px solid #003366;
}

.input-field,
textarea,
select {
  padding: 8px;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 100%;
  min-width: 100%;
}

.input-field:focus,
textarea:focus,
select:focus {
  border-color: #003366;
  box-shadow: 0 0 5px rgba(0, 51, 102, 0.3);
  outline: none;
}

.dias-checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
